@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.leaflet-container {
  width: 100%;
  height: 100%;
}

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; /* prevent body scroll */
}

.scroll-container {
  height: 100%;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

.scroll-screen {
  height: 100vh;       /* full viewport height */
  min-height: 100vh;   /* ensure minimum height even on desktop */
  scroll-snap-align: start;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

body {
  @apply font-sans;
}